# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [102]:
def lesser_of_two_evens(a,b):        #function : name function is lesser_of_two_evens   - sequence is a,b
    if (a % 2 == 0 and b % 2 == 0):
        
        if a>b :
            print('both numbers are even, the lesser of two given numbers is :',b)
        else:
            print('both numbers are even, the lesser of two given numbers is :',a)
            
    elif(a%2 !=0 or b%2 !=0):
        
        if a>b :
            print('one or both numbers are odd,the greater of two given numbers is:',a)
        else:
            print('one or both numbers are odd,the greater of two given numbers is:',b)  
            return a,b

In [103]:
# Check
lesser_of_two_evens(2,4)

both numbers are even, the lesser of two given numbers is : 2

In [104]:
# Check
lesser_of_two_evens(2,5)

one or both numbers are odd,the greater of two given numbers is: 5

(2, 5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [88]:
def animal_crackers(text):                          #function : name function is animal_crackers   - sequence is text   
    my_text_list = text.split()            
    if my_text_list[0][0] ==my_text_list[1][0] :    # if both words begin with same letter print true
        print('true')
    else:                                           #else print else
        print ('false')

In [89]:
# Check
animal_crackers('Levelheaded Llama')

true

In [90]:
# Check
animal_crackers('Crazy Kangaroo')

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [122]:
def makes_twenty(n1,n2):                    #function : name function is makes_twenty - sequence is n1,n2     
    if n1 + n2== 20  :                      #check  if the sum of the integers is 20... n1 + n2 = 20 print true 
        print('true')                      
    elif n1 == 20 or n2 == 20 :             #if one of the integers is 20 ..n1=20 or n2=20  print true
        print('true')
    else:                                   #else return false 
        return 'false'

In [123]:
# Check
makes_twenty(20,10)

true

In [124]:
# Check
makes_twenty(2,3)

'false'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [129]:
def old_macdonald(name):                      #function : name function is old_macdonald   - sequence is name       
    word = ''                                 #make a variable store in it.
    for i in range( len(name) ):              #for loop on number of word = i.. macdonald 012345678 0=I Capital 4=D Capital
        if i == 0:                            #if i== 0 mean the first letter of word make first letter capital 
            word =word + name[0].upper()
        elif i == 3:                          #elif i== 3 mean the fourth letters of word make fourth letter capital 
            word =word + name[3].upper()      #upper() : turning from small to capital
        else:
            word =word + name[i]
    return word                 


result = old_macdonald('macdonald')

In [130]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [37]:
def almost_there(n):                #function : name function is almost_there  - sequence is n
     if (n in range(90,110)):       # 100-10=90 and 100+10=110 if n in range form 90 to 100 return true
        return True 
     elif (n in range(190, 210)):   # 200-10=190 and 200+10=110 if n in range form 190 to 200 return true
        return True
     else:                           #else false 
        return False

In [38]:
# Check
almost_there(104)

True

In [39]:
# Check
almost_there(150)

False

In [40]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [136]:
def has_33(nums):                             #function : name function is has_33 - sequence is nums  
    for i in range(0, len(nums)-1):           #for loop i the range of list from 0 to len(nums)-1
        if nums[i] == 3 and nums[i+1] == 3:   #if number in loop = 3 and next to a 3 somewhere return true.
            return True
        
    return False

In [137]:
# Check
has_33([1, 3, 3])

True

In [138]:
# Check
has_33([1, 3, 1, 3])

False

In [139]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [49]:
def paper_doll(text):                          #function : name function is paper_doll - sequence is text    
    new_string = ''                            #make a variable store in it.
    for x in text:                             #for loop x input in the text 
        new_string += x * 3                    #Make a triple  for the input x (+)in string put the letters together
    return new_string

In [50]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [51]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [45]:
def blackjack(a,b,c):                             #function : name function is blackjack - sequence is a,b,c  
    num_list = [a, b, c]                          
    if sum(num_list) <= 21:                       #if condition sum collect in side list if <= 21 return sum(num_list)
        return sum(num_list)
    if sum(num_list) > 21:                        #if condition sum collect in side list if> 21 
        
        if 11 in num_list:                        #if 11 in list  
            
            if sum(num_list)-10 > 21:              #if condition sum collect in side list -10 if>  21  return 'BUST'
                return 'BUST'
            else: 
                return sum(num_list)-10
    return 'BUST'

In [46]:
# Check
blackjack(5,6,7)

18

In [47]:
# Check
blackjack(9,9,9)

'BUST'

In [48]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [106]:
def summer_69(arr):                        #function : name function is summer_69 - sequence is arr   
    Sum=0
    for n in range(0, len(arr)):                    
                if arr[n]<6:               #if arr[n]<6 collect the number in list
                    Sum+=arr[n]
                elif arr[n]>9:              #if arr[n]>9 collect the number in list and extending to the next 9   
                    Sum+=arr[n]          
                else:
                    pass
            
    return Sum

In [107]:
# Check
summer_69([1, 3, 5])

9

In [108]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [109]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [81]:
def spy_game(nums):                   #function : name function is spy_game- sequence is nums    

    test = [0,0,7,'x']                #new list compare with input list 

    for n in nums:
        
        if n == test[0]:             # if n == test[0] 
        
            test.pop(0)             # remove(num) also works

    return len(test) == 1

In [82]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [83]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [84]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [79]:
def count_primes(num):         #function : name function is count_primes  sequence is num 
    i = 0
    for item in range(num+1):  
        if item <=1:          #if item<=1 continue  
            continue
        if item == 2:        #if item==2 put i=1 and continue  
            i=1
            continue
        for n in range(2,item): 
            if item % n == 0:       if item % n == 0 break
                break
        else:
            i +=1                   else add 1
            
    return i

In [80]:
# Check
count_primes(100)

25

## Great Job!